td#green{
    color:green;
}

td#red{
    color:red;
}

.bookList {
    border-collapse: collapse;            
    width: 100%;
    border: 1px;
}        

.bookList th {
    background-color: #e7dfdd;
    text-align: left;
    padding: 8px;
}
.bookList td {
    text-align: left;
    padding: 8px;
}

.bookList tr:nth-child(even){background-color: #d5d5d5}